apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  nginx.conf: |-
    events {}
    http {
      server {
        root /usr/share/nginx/html;
        location / {
          try_files $uri /index.html;
        }
      }
    }